{% extends 'base.html' %}
	{% block content %}
	<style>
		body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: url(https://images.hdqwalls.com/wallpapers/starry-sky-anime-girl-4k-6j.jpg);
             background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
		#dva{
			text-align: center;
			font-size: 70px;
			color : #9400D3;
			webkit-text-stroke: 1px black;
   -webkit-text-fill-color: white;
		}
	</style>
	<body>
	<div id="dva">
		<p>Этот сайт был разработан исключитаельно для ознакомления с японской культурой. Сайт является  информативно-развлекательным.</p>
		<p>Приятного время препровождения!</p>
	</div>
</body>
    {% endblock %}